<h1>Listing froobles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @froobles.each do |frooble| %>
  <tr>
    <td><%= frooble.name %></td>
    <td><%= frooble.color %></td>
    <td><%= frooble.description %></td>
    <td><%= link_to 'Show', frooble %></td>
    <td><%= link_to 'Edit', edit_frooble_path(frooble) %></td>
    <td><%= link_to 'Destroy', frooble, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

<% if @froobles.empty? %>
  <tr>
    <td colspan="6">No frooble? No Fun. Go <%= link_to 'create one!', new_frooble_path %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Frooble', new_frooble_path unless @froobles.empty? %>
